@model CareFit.Portal.Models.Trainig.PrintTrainningVM

@{
    ViewBag.Title = "Ficha de Treino";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
<link href="~/Content/css/Global/BootstrapPrint.css" rel="stylesheet" />
<link href="~/Content/css/Training/printTrainning.css" rel="stylesheet" />
<script src="~/Content/js/Trainig/printTrainning.js"></script>

<div class="">
    @{
        Html.RenderAction("ViewTrainning", new { trainningId = Model.PeopleTrainning.ID });
    }
</div>
<div id="trainning-print-buttons-panel">
    <button class="btn btn-default btn-lg" id="trainning-print-cancel-button">Voltar</button>
    <button class="btn btn-default btn-lg" id="trainning-print-confirm-button">Imprimir</button>
</div>

